svg.chart {
  border: 1px solid black;
}

textarea {
  height: 5em;
  width: 400px;
}

g.node {
  cursor: pointer;
}

g.or-type circle {
  fill: white;
  stroke-width: 2px;
  stroke: red;
}
g.or-type text {
  font-style: san-serif;
  /*font-weight: bold;*/
  fill: black;
}

g.and-type circle {
  fill: white;
  stroke-width: 2px;
  stroke: blue;
}
g.and-type text {
  fill: black;
  font-style: san-serif;
  /*font-weight: bold;*/
}

g.eq-type circle {
  fill: white;
}
g.eq-type text {
  fill: black;
}


/*circle.node {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
} */

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}