.container {
  margin-left: 30px;
}

svg.chart {
  border: 1px solid black;
}

textarea {
  height: 5em;
  width: 400px;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.and circle {
  stroke-width: 3px;
}
.or circle {
  stroke-width: 3px;
}

.node text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}